.cards > ul {
  list-style: none;
  margin-bottom: 10;
  padding: 0;
  display: grid;
  grid-gap: 16px;
  margin-left: 0;
}

.cards:not(.ein) > ul {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  object-fit: cover;
}



.cards h2 {
  font-size: 20px;
  color: black;
}

.cards a:any-link {
  color: black;
  text-decoration: none;
}

.cards a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

.cards a.button:any-link, button {
  color: #666;
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 20px;
  text-decoration: none;
}

.cards a.button:hover, button:hover  {
  background: var(--link-hover-color);
  color: #fff;
  border-color: var(--link-hover-color);
}