.sidenav {
  padding: 2rem;
  font-size: var(--body-font-size-s);
}

.sidenav .sidenav {
  max-width: 1200px;
  margin: auto;
}

.sidenav .sidenav p {
  margin: 0;
}

.sidenav h4 {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  margin: 0 0 20px;
  padding: 6px 20px;
  text-transform: uppercase;
  border-left: none;
  border-right: none;
  text-align: left;
  color: var(--header-background-color);
}

.sidenav ul {
  padding: 0;
  margin: 0;
}

.sidenav .sidemenu ul {
  list-style: outside none none;
}

.sidenav .sidemenu li {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
}

.sidenav .sidemenu li:last-child {
  border: none;
}

.sidenav .sidemenu li a {
  color: #5f5f5f;
  line-height: 26px;
  padding-left: 22px;
  position: relative;
  display: inline-block;
}

.sidenav .sidemenu li a:hover {
  color: var(--header-background-color);
  text-decoration: none;
}

.sidenav .sidemenu li a::before {
  content: "\f105";
  font-family: fontawesome, sans-serif;
  position: absolute;
  left: 0;
}


.sidenav .sidelinks ul {
  list-style: disc;
  margin: 0 0 15px 20px;
}

.sidenav .sidelinks li a {
  color: var(--header-background-color);
  margin: 0;
  outline: 0;
  padding: 0;
  display: inline-block;
}