.sidenav {
  padding: 2rem;
  font-size: var(--body-font-size-s);
}

.sidenav .sidenav {
  max-width: 1200px;
  margin: auto;
}

.sidenav .sidenav p {
  margin: 0;
}

.sidenav h4 {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  margin: 0 0 20px;
  padding: 6px 20px;
  text-transform: uppercase;
  border-left: none;
  border-right: none;
  text-align: left;
  color: var(--header-background-color);
}

.sidenav div > div > ul > li {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
  list-style: outside none none;
}

.sidenav a {
  font-size: 14px;
  color: #5f5f5f;
}

.sidenav a:hover {
  color: var(--header-background-color);
  text-decoration: none;
}