footer {
  display: grid;
  padding: 2rem;
  background-color: black;
  font-size: var(--body-font-size-s);
  align-items: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer h4 {
  background-color: rgb(255 255 255 / 20%);
  color: #fff;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  margin: 0 0 20px;
  padding: 6px 20px;
  text-transform: uppercase;
  border-left: none;
  border-right: none;
  text-align: left;
  font-family: Roboto, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  outline: 0;
  vertical-align: baseline;
}

footer .footer-gallery {
  display: grid;
  padding: 0 5%;
}

@media (min-width: 600px) {
  footer .footer-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  footer .footer-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  footer .footer-gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  footer .footer-gallery p {
    display: block;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    margin: 5px;
    border: solid white 4px;
  }

  footer .footer-impressum ul {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    list-style-type: none;
    font-size: 12px;
  }
}

footer .footer-gallery img {
  height: 100%;
  width: 100%;
}

footer .footer-impressum {
  color: white;
}

footer .footer-impressum ul {
  list-style-type: none;
  font-size: 12px;
}

footer .footer-impressum a:any-link {
  color: white;
  text-decoration: none;
}

footer .footer-impressum a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}